@media only screen and (max-width : 319px) {
    .main-nav{
        display: none;
    }
    .sidenav{
        display: block;
    }
    .logo{
        top: -110px;
        height:60px;
    }
    .section-testimonials h2{
        margin-left: -8px;
    }
    .upper-header{
        height: 10vh;
    }
    header{
        height: 90vh;
    }
    .upper-header h3{
        font-size: smaller;
    }
    .upper-header ion-icon{
        font-size: 30px;
    }
    .featured-properties h3{
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: -30px;
    }
    .marker-div{
        display: none;
    }
    header h1{
        top: 20%;
    }
    header h2{
        margin-top: 60px;
    }
    header form{
        width: 70%;
        top: 40%;
    }
    header form input{
        margin-top: 15px;
    }
    header .btn{
        margin-top: 30px;
        margin-left: 4%;
    }
    .section-properties{
        display: none;
    }
    .featured-properties{
        display: none;
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .ham-icon{
        display: block;
    }
    .phone-div , .phone , .phoneh3{
        margin-right: 5%;
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .main-nav{
        display: none;
    }
    .sidenav{
        display: block;
    }
    .logo{
        top: -110px;
        height:60px;
    }
    .section-testimonials h2{
        margin-left: -8px;
    }
    .upper-header{
        height: 10vh;
    }
    header{
        height: 90vh;
    }
    .upper-header h3{
        font-size: smaller;
    }
    .upper-header ion-icon{
        font-size: 30px;
    }
    .featured-properties h3{
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: -30px;
    }
    .marker-div{
        display: none;
    }
    header h1{
        top: 20%;
    }
    header h2{
        margin-top: 60px;
    }
    header form{
        width: 70%;
        top: 40%;
    }
    header form input{
        margin-top: 15px;
    }
    header .btn{
        margin-top: 30px;
        margin-left: 4%;
    }
    .section-properties{
        display: none;
    }
    .featured-properties{
        display: none;
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .ham-icon{
        display: block;
    }
    .phone-div , .phone , .phoneh3{
        margin-right: 5%;
    }
}
    
@media only screen and (min-width: 481px) and (max-width: 779px) {
    .main-nav{
        display: none;
    }
    .sidenav{
        display: block;
    }
    .logo{
        top: -110px;
        height:60px;
    }
    .section-testimonials h2{
        margin-left: -8px;
    }
    .upper-header{
        height: 10vh;
    }
    header{
        height: 90vh;
    }
    .upper-header h3{
        font-size: smaller;
    }
    .upper-header ion-icon{
        font-size: 30px;
    }
    .featured-properties h3{
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: -30px;
    }
    .marker-div{
        display: none;
    }
    header h1{
        top: 20%;
    }
    header h2{
        margin-top: 60px;
    }
    header form{
        width: 70%;
        top: 40%;
    }
    header form input{
        margin-top: 15px;
    }
    header .btn{
        margin-top: 30px;
        margin-left: 4%;
    }
    .section-properties{
        display: none;
    }
    .featured-properties{
        display: none;
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .ham-icon{
        display: block;
    }
    .phone-div{
        position: absolute;
        z-index: 10;
        margin-top: -24%;
    }
    .phone{
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
    }
}

@media only screen and (min-width: 780px) and (max-width: 1000px){
    .logo{
        top: -110px;
        height:80px;
    }
    .section-testimonials h2{
        margin-left: -10px;
    }
    .upper-header h3{
        font-size: smaller;
    }
    .upper-header ion-icon{
        font-size: 30px;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1340px){
    .logo{
        top: -110px;
        height:80px;
    }
    .section-testimonials h2{
        margin-left: -8px;
    }
    .upper-header h3{
        font-size: smaller;
    }
    .upper-header ion-icon{
        font-size: 30px;
    }
    .featured-properties h3{
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: -30px;
    }
}

@media only screen and (min-width: 1580px){
    .upper-header{
        height: 14vh;
    }
    header{
        height: 86vh;
    }
    .featured-properties h3{
        margin-top: 40px;
    }
    .section-properties{
        height: 100vh;
    }
    .section-properties h2{
        font-size: 40px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}